.services{
    width: 100%;
    min-height: 40rem;
    padding: 40px 30px;
}

.serviceshead{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

  .services-title {
    font-size: 3.4em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .services-intro {
    font-size: 1.4em;
    color: #393838;
    margin-bottom: 40px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .service-card {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  .service-icon {
    font-size: 3em;
    color: #7f00e6;
    margin-bottom: 15px;
  }
  
  .service-card h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .service-card p {
    font-size: 1.2em;
    color: #666;
  }
  

  @media only screen and (max-width: 600px) {
    .services{
      padding: 20px 10px;
    }
    .serviceshead{
      width: 100%;
      text-align: center;
    }
  }