.main{
    display: flex;
    padding-top: 10rem;
    /* padding-top: 20rem; */
}

.main .maincont{
    width: 50%;
    height: 65rem;
    /* border: 1px solid white; */
}

.main .mainleft{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .mainleft .mainhead{
    width: 70%;
    margin-top: -10rem;
}

.mainleft .mainhead h1{
  font-size: 5.5rem;
  letter-spacing: 2px;
}

.mainleft .mainhead p{
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 2.6rem;
}

.mainlist {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
  }
  
  .mainlist li {
    margin-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
  }
  

.mainbtn{
    display: flex;
    gap: 1rem;
}

.mainbtn .btn{
    padding: 1.02rem 3rem;
    margin-top: 3rem;
    border-radius: 6px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}


.btn-primary{
    color: white;
    background-color: #6a1387;
}


.mainright{
    position: relative;
}

.mainright img{
    width: 55%;
    position: absolute;

}

.mainright .img1{
    top:10%;
    left: 5%;
    width: 60%;
}

.img2{
  top:45%;
  left: 40%;
}

.main .features {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 5rem;
    gap:2rem;
    /* margin-left: -0.1rem; */
  }
  
  .main .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .main .feature .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: #2f1548fc; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: black;
  }

  .main .feature .icon img{
    width: 40px;
    height: 40px;
  }

  
  /* Specific Icon Styles */
  .icon1::before {
    content: "\1F4BB"; /* Laptop emoji for Responsive Design */
  }
  
  .icon2::before {
    content: "\1F4CA"; /* Bar chart emoji for SEO Optimization */
  }
  
  .icon3::before {
    content: "\1F6D2"; /* Shopping cart emoji for E-commerce Development */
  }
  
  .main .feature p {
    font-size: 1.25rem;
    line-height: 1.8rem;
    margin-top: 1rem;
  }
  


@media  only screen and (max-width: 600px) {
    .main{
        flex-direction: column;
        padding-top: 5rem;
    }

    .main .maincont{
        width: 100%;
    }

    .main .mainright{
        display: none;
    }

    .mainleft .mainhead{
        width: 90%;
        margin-top: 2rem;
    }
}