.feature-page {
    padding: 2rem;
    text-align: center;
  }
  
  .feature-page {
    padding: 3rem;
    text-align: center;
    background-color: #f9f9f9; /* Light background */
  }
  
  .feature-title {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    color: #333; /* Dark text for contrast */
  }
  
  .feature-intro {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #666; /* Slightly lighter text for intro */
  }
  
  .feature-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    gap:2rem;
  }
  
  
  
  .feature-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.8rem;
    padding-bottom: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    transform: translateY(20rem); /* Start position */
    transition: opacity 0.6s ease, transform 0.6s ease;
    opacity: 0; 
  }

  .feature-card.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-icon {
    font-size: 3rem; /* Adjust size as needed */
    margin-bottom: 0.5rem;
    color: #7f00e6;
  }


  .feature-card h3{
    font-size: 1.5rem;
  }


  .feature-card p{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #5f5f5f;
  }
  

  @media only screen and (max-width: 600px) {
    .feature-grid{
        flex-direction: column;
    }
  }