.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #e2dde47b;
  }
  
  .about-title {
    font-size: 3.5em;
    color: #333;
    margin-bottom: 20px;
    color: #333;
  }
  
  .about-intro {
    font-size: 1.4em;
    color: #4a4a4a;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 2.2rem;
  }
  
  .about-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .about-card {
    background: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    transform: translateY(20rem); /* Start position */
    transition: opacity 0.6s ease, transform 0.6s ease;
    opacity: 0; 
  }

  .about-card.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about-card:hover {
    transform: translateY(-5px);
  }
  
  .about-icon {
    font-size: 2.8em;
    color: #7606d8;
    margin-bottom: 15px;
  }
  
  .about-card h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-card p {
    font-size: 1.25em;
    color: #666;
  }
  