
/* HeroSection.css */
.hero-section { 
    color: white;
    min-height: 79rem;
    /* background-color: rgb(93, 33, 139); */
    /* background: rgb(67, 2, 53);
background: linear-gradient(90deg, rgba(51,2,40,1) 0%, rgba(86,7,90,1) 77%, rgba(92,4,72,1) 100%); */
   background-image: url('../assets/img/bg2.jpg');
   position: relative;
   z-index: 100;
  }

  .hero-section::before{
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.717);
    z-index: -1;
  }
  
  
  @media only screen and (max-width: 600px) {
    .hero-section{
      height: 40rem;
    }
  }