.testimonial-section {
    padding: 3rem 1rem;
    background-color: #f4f4f4;
    text-align: center;
}

.testimonial-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.testimonial-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px; /* Increased width */
    transition: transform 0.3s, box-shadow 0.3s;
    transform: translateY(20rem); /* Start position */
    transition: opacity 0.6s ease, transform 0.6s ease;
    opacity: 0; 
}

.testimonial-card.animate {
    opacity: 1;
    transform: translateY(0);
  }

.testimonial-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.testimonial-image-container {
    max-width: 36rem; 
    height: 25rem; 
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-image {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.testimonial-content {
    text-align: left;
}

.testimonial-name {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    color: #7f00e6;
}

.testimonial-role {
    font-size: 2rem;
    color: #777;
}

.testimonial-feedback {
    font-style: italic;
    color: #555;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}


@media only screen and (max-width: 600px) {
    .testimonial-card{
        width: 350px;
    }

    .testimonial-image-container{

    }
}